<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{livre[1]}}</title>
    <link rel="stylesheet" href="../static/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
</head>
<body>
    <div class="header">
        <a href="/">Accueil</a>
        <a href="/ajouter">Ajouter</a>
        <a href="/catalogue">Catalogue</a>
    </div>
    <h1>{{livre[1]}}</h1>
    <p>{{livre[2]}}</p>
    <img src="data:image/jpeg;base64,{{livre[3]}}" alt="Couverture du livre">
</body>
</html>