*{
    font-family: 'Nunito', sans-serif;
}

button{
    margin-left:5px;
    background-color: #8be25c;
    border: none;
    padding:5px;
    border-radius: 15px;
    font-weight: 600;
    color: white;
    
}

p{
    margin: 5px;
}

input{
    margin:5px;
    padding: 5px;
}

.result{
    margin:     10px;
}

.buttonMenu{
    margin-top: 10px;    
}

button:hover{
    color:black;
    cursor:pointer;
}

.buttons{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 15px;
    background-color: #f2f2f2;
    box-shadow: 5px 5px 5px #888888;
}

.livre{
    margin: 10px;
    display: flex; 
    flex-direction: row;
}

.header{
    width: 100%;
    background-color: #8be25c;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 5px 5px 5px #888888;
    z-index: 1000;
    padding: 5px;
}

a{
    padding-right: 15px;   
    text-decoration: none;
    font-size: large;
    color:black;
}

body{
    padding-top: 30px;
}